@font-face {
    font-family: Open Sans;
    src: url("./../fonts/OpenSans-Regular.woff");
}

@font-face {
    font-family: Open Sans;
    src: url("./../fonts/OpenSans-Bold.woff");
    font-weight: 700;
}

body {
    margin: 0;
    font-family: Open Sans, Arial, sans-serif;
}

.header {
    width: 100%;
    height: 96vh;
    display: block;
    position: relative;
    background-image: url("../img/football_767.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(9, 12, 53);
}

.header::after {
    content: "";
    background-color: rgb(9, 12, 53);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    padding-left: 19px;
    padding-right: 19px;
    position: relative;
    text-align: center;
    z-index: 2;
}

.header-logo {
    width: 135px;
    height: 37px;
    margin-top: 4vh;
    fill: rgb(255, 255, 255);
}

.welcome-description {
    margin-top: 28vh;
    text-align: left;
}

.welcome-description h1 {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin: 0;
}

.welcome-title {
    word-wrap: break-word;
    display: block;
    margin-left: 21vw;
/*    margin-top: 15px*/
}

.buttons {
/*    margin-top: 89px;*/
    margin-top: 10vh;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.download-app-button {
    width: 100%;
    padding-top: 9px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    background-color: rgb(94, 66, 176);
    border: none;
    border-radius: 30px;
    margin-bottom: 15px;

}

.download-app-button a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 8px;
    text-decoration: none;
}

.download-app-button:last-of-type {
    margin-bottom: 0;
}

.download-app-button:hover {
    text-decoration: underline;
}

.download-app-button a > span {
    word-wrap: break-word;
    display: block;
    font-weight: bold;
}

.button-logo {
    width: 21px;
    height: 25px;
    fill: rgb(255, 255, 255);
    top: calc(50% - 10px);
    /*    margin-left: 35%;*/
    margin-right: 9px;
}

.athlets-container {
    text-align: center;
}

.desc {
    text-align: left;
}

.content-picture {
    text-align: center;
    margin-bottom: -50px;
}


.content-title {
    font-size: 50px;
    color: rgb(231, 231, 231);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

.players-container {
    text-align: center;
}


.desc > .content:nth-child(3n+1) {
    background-color: rgb(250, 250, 250);
}

.desc > .content:nth-child(3n+2) {
    background-color: rgb(245, 244, 249);
}

.desc > .content:nth-child(3n+3) {
    background-color: rgb(94, 66, 176);
    color: rgb(235, 235, 235);
}

.players-container .desc > .content:nth-child(3n+3) {
    background-color: rgb(9, 12, 53);
    color: rgb(235, 235, 235);
}

.content {
    margin-top: 0;
    padding: 59px 19px;
}

.players-content {
    margin-top: 0;
    padding: 59px 19px;
}

.section-title {
    margin-top: 0;
    font-size: 23px;
    font-weight: bold;
    color: rgb(193, 193, 193);
    text-transform: uppercase;
}

.title-content {
    display: flex;
}

.title-players {
    display: flex;
}

.players-subtitle {
    margin-top: 0;
    font-size: 23px;
    font-weight: bold;
    color: rgb(193, 193, 193);
    text-transform: uppercase;
}

.section-number {
    vertical-align: super;
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    font-weight: bold;
}

.section-number::after {
    content: "";
    width: 15px;
    height: 4px;
    display: block;
    background-color: rgb(94, 66, 176);
}

.number-item {
    vertical-align: super;
    font-size: 14px;
    color: rgb(135, 101, 221);
    margin-right: 10px;
    font-weight: bold;
}

.number-item::after {
    content: "";
    width: 15px;
    height: 4px;
    display: block;
    background-color: rgb(255, 255, 255);
}

.item-after::after {
    content: "";
    width: 15px;
    height: 4px;
    display: block;
    background-color: rgb(255, 255, 255);
}

.text-content {
    margin: 0;
    font-size: 15px;
}

.text-players {
    margin: 0;
    font-size: 15px;
}

.post-content {
    position: relative;
    padding-top: 33px;
    padding-bottom: 77px;
}

.post-content {
    margin: 0;
    padding-left: 19px;
    padding-right: 19px;
}

.post-title {
    margin-top: 0;
    font-size: 28px;
    color: rgb(193, 193, 193);
    text-transform: uppercase;
    font-weight: bold;
}

.post-text {
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.post {
    width: 100%;
}

.posts-img {
    max-width: 100%;
    text-align: center;
    background-color: rgb(143, 123, 200);
}

.posts-img,
.posts-img > img {
    width: inherit;
    display: block;
}

.post-number {
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(94, 66, 176);
    position: absolute;
    text-align: end;
    margin-top: -58px;
    padding: 26px;
    margin-left: 20px;
}

.post-number::after {
    content: "";
    width: 15px;
    height: 4px;
    display: block;
    background-color: rgb(143, 123, 200);
}

.footer {
    position: relative;
}

.footer-container {
    width: 100%;
    display: block;
    background-image: url(../img/game_767.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(9, 12, 53);

}

.footer-container::after {
    content: "";
    background-color: rgb(9, 12, 53);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-content {
    padding-top: 99px;
    padding-left: 19px;
    padding-right: 19px;
    position: relative;
    text-align: center;
    z-index: 2;
}

.footer-logo {
    width: 60px;
    height: 49px;
    fill: rgb(255, 255, 255);
    top: calc(50% - 10px);
}

.button-download {
    background-color: rgb(94, 66, 176);
    border: none;
    border-radius: 15px;
    padding: 12px;
    display: inline-block;
}

.footer-title {
    font-size: 32px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.footer-text {
    font-size: 14px;
    color: rgb(155, 142, 193);
    text-transform: uppercase;
}

.footer-description {
    margin-top: 59px;
    margin-bottom: 77px;
}

.footer-content .buttons {
    margin-top: 0;
}

.footer-logo-text {
    margin-top: 89px;
    text-align: center;
    width: 135px;
    height: 37px;
    fill: rgb(255, 255, 255);
}

@media (min-width: 641px) and (max-width:960px) {
    .header {
        height: 100vh;
        display: block;
        background-image: url("../img/football_1280.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(9, 12, 53);
        background-position: center;
    }

    .header-logo {
        width: 206px;
        height: 57px;
        margin-top: 39px;
    }

    .container {
        padding-left: 60px;
        padding-right: 60px;
    }

    .welcome-description h1 {
        font-size: 64px;
    }

    .welcome-title {
        margin-top: 0;
    }

    .buttons {
        display: flex;
        flex-direction: row;
    }

    .download-app-button:last-of-type {
        margin-left: 30px;
    }

    .download-app-button {
        margin-bottom: 0;
    }

    .download-app-button a {
        font-size: 14px;
    }

    .button-form:last-child {
        margin-right: 0;
    }

    .button-header {
        padding-top: 17px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
        background-color: rgb(94, 66, 176);
        align-items: center;
        border: none;
        border-radius: 52px;
    }

    .button-logo {
        width: 38px;
        height: 45px;
        margin-right: 30px;
    }

    .content {
        padding: 40px 33px;
    }

    .content:first-child {
        padding-top: 0;
    }


    .athlets-container {
        position: relative;
        text-align: left;
    }

    .content-picture {
        text-align: left;
        margin-bottom: 0;
        margin-left: -160px;
        position: absolute;
        top: 30px;
    }

    .players-container .content-picture {
        top: 0;
    }

    .title-content,
    .text-content {
        width: 59%;
        margin-left: auto;
    }

    .players-container .title-content,
    .players-container .text-content {
        width: 54%;
    }

    .text-content {
        font-size: 16px;
    }

    .content-title {
        font-size: 80px;
        margin-left: 40%;
        text-align: left;
        margin-bottom: 30px;
    }

    .players-container .content-title {
        padding-left: 33px;
    }

    .section-number {
        font-size: 18px;
    }


    .section-number::after {
        content: "";
        width: 19px;
        height: 5px;
    }

    .section-title {
        font-size: 32px;
        margin-bottom: 34px;
    }

    .players-container {
        position: relative;
    }

    .desc-content {
        text-align: left;
    }

    .title-players {
        width: 50%;
        margin-right: auto;
    }

    .text-players {
        width: 50%;
        margin-right: auto;
        font-size: 16px;
    }

    .post-number {
        font-size: 24px;
        padding: 42px;
        margin-left: 32px;
        margin-top: -76px;
    }

    .post-number::after {
        content: "";
        width: 26px;
        height: 5px;
    }

    .post-title {
        font-size: 80px;
        margin-bottom: 37px;
    }

    .post-content {
        padding-top: 57px;
    }

    .post-text {
        font-size: 24px;
        margin-top: 0;
    }

    .players-container * {
        margin-left: 0;
    }

    .footer-logo {
        width: 102px;
        height: 85px;
    }

    .button-download {
        padding: 25px 14px;
        border-radius: 24%;
    }

    .footer-title {
        font-size: 80px;
        margin-bottom: 0;
    }

    .footer-description {
        margin-top: 75px;
    }

    .footer-text {
        font-size: 36px;
        margin-top: 0;
    }

    .footer .buttons {
        margin: 288px 28px 45px;
    }

    .footer-logo-text {
        margin-top: 0;
        width: 205px;
        height: 56px;
    }
}

@media (min-width: 961px) and (max-width:1920px) {
    .header {
        width: 100%;
/*        height: 100vh;*/
        background-image: url("../img/football_1920.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(9, 12, 53);
        background-position: center;
    }

    .container {
        margin: 0 9.3%;
    }


    .header-logo {
        width: 190px;
        height: 54px;
/*        margin-top: 44px;*/
    }

    .welcome-description h1 {
        font-size: 90px;
/*        margin-top: 18%;*/
    }

/*
    .welcome-title {
        margin-top: 0;
        margin-left: 430px;
    }
*/

    .buttons {
        display: flex;
        flex-direction: row;
        width: 674px;
        margin-left: auto;
        margin-right: auto;
/*        margin-bottom: 110px;*/
    }

    .download-app-button:last-of-type {
        margin-left: 30px;
    }

    .download-app-button {
        margin-bottom: 0;
    }

    .download-app-button a {
        font-size: 14px;
    }

    .button-form:last-child {
        margin-right: 0;
    }

    .button-header {
        padding-top: 17px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
        background-color: rgb(94, 66, 176);
        align-items: center;
        border: none;
        border-radius: 52px;
    }

    .button-logo {
        width: 38px;
        height: 45px;
        margin-right: 30px;
    }

}
